[submodule "libopencm3"]
	path = libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "rtos/FreeRTOS-kernelV11.2.0"]
	path = rtos/FreeRTOS-kernelV11.2.0
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
